.container {
  position: relative;
  display: grid !important;
  margin-top: 62px;
  grid-template-columns: 280px 1fr 280px;
  background-color: #f8f9fa;
  overflow: hidden;
}
.container-1500 {
  /* All game happening here in container */
  grid-template-columns: 160px 1fr 160px;
}
.container-990 {
  grid-template-columns: 1fr;
}

.container-mobile {
}
.sidebar-fixed {
  position: fixed;
}
.friendsSidebar {
  position: fixed;
  right: 0px;
}
.content {
  margin: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 300px;
}
.content-990 {
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  /* margin: 0 ; */
}
.content-680 {
  padding: 0px;
  margin: 2px;
  display: grid;
  grid-template-columns: 1fr;
  /* margin: 0 ; */
}
.vertical-flex {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.friends-sidebar {
  background-color: #fff;
  padding: 10px;
}
.friends-status {
  display: flex;
  align-items: center;
}
.friends-status > img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 40px;
}
.story-card,
.event-card,
.birthday-card {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
}
.h {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.h p {
  font-size: 2rem;
}
.h img {
  width: 50px;
}

.post {
  padding: 10px;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}
.post-media {
  background-color: gray;
}
.post-media > img {
  width: 100%;
}
.post-media > iframe {
  background-color: gray;
}
.post-reaction {
  padding: 5px;
  margin-bottom: 20px;
}
.post-comments > span {
  margin-left: 2px;
  color: #00b4cc;
}
.post-reaction > span {
  color: #00b4cc;

  margin-left: 5px;
}
.post-comment {
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.post-comment__input {
  outline: none;
  width: max-content;
  /* height: 30px; */
  border: 0px;
}
.post-comment__icons-box > svg {
  margin-left: 10px;
}
.post-comment:focus-within {
  border: 1px solid #00b4cc;
}
.posted-comments {
  margin-top: 20px;
}
