.sb-example-1 .search {
  width: 100%;
  position: relative;
  display: flex;
}
.sb-example-1 .searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.sb-example-1 .searchTerm:focus {
  color: #00b4cc;
}
.sb-example-1 .searchButton {
  width: 100px;
  height: 40px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/* USER CARD STYLES */
.usercard--container {
  /* margin-bottom: 20px; */
  margin: 10px;
  display: flex;
  align-items: center;
}
.user-comment {
  margin-top: 10px;
}
.user-comment > span:not(:last-child) {
  margin-right: 5px;
  color: #00b4cc;
}
.usercard-photo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.usercard-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
/* APP BUTTON */
.app-btn {
  background-color: #00b4cc;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
}
/*  */
.app-bar {
  background-color: #fff !important;
  color: black !important;
  display: flex !important;
  justify-content: space-between !important;
}
.flex-x {
  display: flex;
  align-items: center;
}
.transform {
  transform: translateY(70px);
  transition: all 3s ease-in;
}
.align-left {
  justify-content: flex-end;
}
.fullwidth {
  width: 100%;
  z-index: 1000;
}
/* ------------USER BANNER  -------------------------*/
.profile-header {
  /* background-color: #ffffff; */
  background-color: #ffffff;
  padding-bottom: 20px;
  /* padding: 20px; */
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
  /* box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1); */
}
.position-realative {
  position: relative;
}
.profile--header-pic {
  max-width: 100%;
  /* overflow: hidden; */
}
.profile-img {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 300px) {
  .profile-header {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.profile-round-pic {
  /* width: 100px; */
  width: 20%;
}
.profile-info {
  display: flex;
  justify-content: space-between;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons > img {
  margin: 10px;
}
.user-follower-info div > p {
  font-weight: bold;
  margin: 10px;
}
.user-follower-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-follower-info {
  display: flex;
}
@media screen and (max-width: 780px) {
  .profile-info {
    margin-top: 50px;
    flex-direction: column;

    /* align-items: center; */
  }
  .user-follower-info {
    flex: 1;
    /* justify-conte; */
    justify-content: space-between;
    margin-top: 10px;
  }
}
@media screen and (max-width: 300px) {
  .profile-info {
    align-items: center;
  }
  .profile-header {
    margin: 10px;
  }
  .profile--header-pic {
    max-width: 100%;
  }
  .icons {
    justify-content: flex-start;
  }
  .user-follower-info {
    justify-content: flex-start;
  }
}
/* -----------PHTOS CARD STYLING--------------------- */
.timeline-event-photo {
  background-color: var(--secondry-color);
  padding: 15px;
  margin-bottom: 10px;
}
.live-event--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.live-event--title > button {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 19px;
}
.live-event--title > button:hover {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 19px;
}
.timeline-event-photos {
  display: grid;
  grid-gap: 5px !important;
  margin-bottom: 20px;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
.timeline-event-photos div > img {
  max-width: 100%;
}
/* ---------------USER ABOUT CARD---------------- */

.user-about-card {
  padding: 20px;
  background-color: var(--secondry-color);
  margin-bottom: 10px;
  border-radius: 10px;
}
.user-about-card--title {
  margin-bottom: 10px;
  font-weight: 200;
  font-family: "Poppins";
}
.about-card-details {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 14px;
}
.about-card-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about-card-info > span {
  margin-left: 10px;
}
/* ------------PAGE HEADER STZYLE--------------- */
.friendlist--header {
  position: relative;
}

.friendlist__header--title {
  padding: 20px;
  background-color: var(--secondry-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.friendlist__header--image {
  max-width: 100%;
}
.friendlist-card--header > img {
  max-width: 100%;
}
@media screen and (max-width: 680px) {
  .friendlist__header--title {
    padding: 5px;
    background-color: var(--secondry-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* ------------------------- */
.content-media {
  margin: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (max-width: 680px) {
  .content-media {
    padding: 0px;
    margin: 2px;
  }
}
/* ----------------------------- */
.profile-photos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  /* margin: 0 auto; */
}

.container-detail {
  width: 100%;
  /* margin: 10px; */
}
.container--img {
  max-width: 100%;
}
/* ----------------------- */

.video-responsive iframe {
  width: 100%;
}
