@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body {
  color: #777d74;
}
a {
  color: #777d74;
}
:root {
  /* ===== Colors ===== */
  --body-color: #f8f9fa;
  --sidebar-color: #fff;
  --primary-color: #00b4cc;
  --secondry-color: #ffffff;
  /* --primary-color-light: #f6f5ff; */
  --primary-color-light: #f8f9fa;

  --text-color: #707070;
  --dark-color: #000;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;

  --box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
}

body {
  min-height: 100vh;
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}
